<html lang="ru-RU">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta http-equiv="Accept-Encoding" content="gzip, compress, br" />
    <meta name="description" content="инвентаризация" />
    <link rel="stylesheet" href="/static/style.css" />

    <title>Форма</title>
  </head>

  <body>
    <main class="main">
      <form
        class="form_content"
        action="/sendForm"
        method="post"
        enctype="multipart/form-data"
        id="form"
      >
        <fieldset class="form__fieldset">Форма отправки</fieldset>
        <label class="form__label">
          Имя
          <input
            class="form__input"
            id="first_name"
            name="first_name"
            type="text"
            placeholder="Иван"
          />
        </label>
        <label class="form__label">
          Фамилия
          <input
            class="form__input"
            id="last_name"
            name="last_name"
            type="text"
            placeholder="Иванов"
          />
        </label>
        <div class="form__label">
          <label>
            Файлы
            <span class="form__button form__button-upload-file">
              загрузить
            </span>
            <input
              class="visually-hidden"
              id="files"
              name="files"
              type="file"
              multiple
            />
          </label>
        </div>
        <div>
          <button class="form__button form__button-submit">Отправить</button>
        </div>
      </form>
    </main>
    <script src="/static/scripts/send.js"></script>
  </body>
</html>
